/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #0E1C26, #294861);
    height: 100vh;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #B4B4B4;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

.display{
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.display #answer {


}

.display #operation {


}

.keys-container {
    /* display: flex;
    justify-content: center;
    align-content: center; */
}

.keys {

}

button {
    all: unset;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    background-color: #fff;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px;
}

.clear {
    margin: 10px 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.clear button {
    background-color: #dd5816;
    font-weight: 600;
}

.number-operator {
    display: flex;
    flex-direction: row;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number button {
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 700;
    margin: 5px 10px;
    text-align: center;
}

.operator {
    display: flex;
    flex-direction: column;
}

.operator button {
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 700;
    margin: 5px 10px;
    text-align: center;
}
